<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imooc.product.dao.ProductInfoMapper" >
  <resultMap id="BaseResultMap" type="com.imooc.product.entity.ProductInfo" >
    <id column="p_id" property="pId" jdbcType="INTEGER" />
    <result column="p_name" property="pName" jdbcType="VARCHAR" />
    <result column="p_state" property="pState" jdbcType="INTEGER" />
    <result column="p_price" property="pPrice" jdbcType="DOUBLE" />
    <result column="p_count" property="pCount" jdbcType="INTEGER" />
    <result column="p_total" property="pTotal" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    p_id, p_name, p_state, p_price, p_count, p_total
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.imooc.product.entity.ProductInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from product_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from product_info
    where p_id = #{pId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from product_info
    where p_id = #{pId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.imooc.product.entity.ProductInfoExample" >
    delete from product_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.imooc.product.entity.ProductInfo" >
    insert into product_info (p_id, p_name, p_state, 
      p_price, p_count, p_total
      )
    values (#{pId,jdbcType=INTEGER}, #{pName,jdbcType=VARCHAR}, #{pState,jdbcType=INTEGER}, 
      #{pPrice,jdbcType=DOUBLE}, #{pCount,jdbcType=INTEGER}, #{pTotal,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.imooc.product.entity.ProductInfo" >
    insert into product_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pId != null" >
        p_id,
      </if>
      <if test="pName != null" >
        p_name,
      </if>
      <if test="pState != null" >
        p_state,
      </if>
      <if test="pPrice != null" >
        p_price,
      </if>
      <if test="pCount != null" >
        p_count,
      </if>
      <if test="pTotal != null" >
        p_total,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pId != null" >
        #{pId,jdbcType=INTEGER},
      </if>
      <if test="pName != null" >
        #{pName,jdbcType=VARCHAR},
      </if>
      <if test="pState != null" >
        #{pState,jdbcType=INTEGER},
      </if>
      <if test="pPrice != null" >
        #{pPrice,jdbcType=DOUBLE},
      </if>
      <if test="pCount != null" >
        #{pCount,jdbcType=INTEGER},
      </if>
      <if test="pTotal != null" >
        #{pTotal,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.imooc.product.entity.ProductInfoExample" resultType="java.lang.Integer" >
    select count(*) from product_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update product_info
    <set >
      <if test="record.pId != null" >
        p_id = #{record.pId,jdbcType=INTEGER},
      </if>
      <if test="record.pName != null" >
        p_name = #{record.pName,jdbcType=VARCHAR},
      </if>
      <if test="record.pState != null" >
        p_state = #{record.pState,jdbcType=INTEGER},
      </if>
      <if test="record.pPrice != null" >
        p_price = #{record.pPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.pCount != null" >
        p_count = #{record.pCount,jdbcType=INTEGER},
      </if>
      <if test="record.pTotal != null" >
        p_total = #{record.pTotal,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update product_info
    set p_id = #{record.pId,jdbcType=INTEGER},
      p_name = #{record.pName,jdbcType=VARCHAR},
      p_state = #{record.pState,jdbcType=INTEGER},
      p_price = #{record.pPrice,jdbcType=DOUBLE},
      p_count = #{record.pCount,jdbcType=INTEGER},
      p_total = #{record.pTotal,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.imooc.product.entity.ProductInfo" >
    update product_info
    <set >
      <if test="pName != null" >
        p_name = #{pName,jdbcType=VARCHAR},
      </if>
      <if test="pState != null" >
        p_state = #{pState,jdbcType=INTEGER},
      </if>
      <if test="pPrice != null" >
        p_price = #{pPrice,jdbcType=DOUBLE},
      </if>
      <if test="pCount != null" >
        p_count = #{pCount,jdbcType=INTEGER},
      </if>
      <if test="pTotal != null" >
        p_total = #{pTotal,jdbcType=DOUBLE},
      </if>
    </set>
    where p_id = #{pId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.imooc.product.entity.ProductInfo" >
    update product_info
    set p_name = #{pName,jdbcType=VARCHAR},
      p_state = #{pState,jdbcType=INTEGER},
      p_price = #{pPrice,jdbcType=DOUBLE},
      p_count = #{pCount,jdbcType=INTEGER},
      p_total = #{pTotal,jdbcType=DOUBLE}
    where p_id = #{pId,jdbcType=INTEGER}
  </update>
</mapper>